body {
    font-family: 'Open-sans', sans-serif;
}

.logo {
    display: flex; 
}

#blueCar {
    margin-top: 9px;
    height: 74px;
}

#left {
    float: left;
    width: 406px;
}

#Middle {
    float: left;
    width: 406px;
    height: 121.25px;
}

#Right {
    float: left;
    width: 406px;
    height: 121.25px;
}

#separation {
    background-color: grey;
    width: 192vh;
    height: 5px;
    border-radius: 10px;
}

#Moteur {
    margin-top: 51.09px;
    height: 19.10px;
}

#Kilometrage {
    margin-top: 16px;
    height: 19.10px;
}

#Prix {
    margin-top: 32px;
    margin-bottom: 16px;
    height: 38.19px;
}

#Contact {
    background-color: #4A9BD6;
    border: solid#4A9BD6;
    border-radius: 10px;
    width: 260.99px;
    height: 1cm;
    transition: 0.5s;
    color: white;
    font-weight: 500;
    border-width: 1px;
}

#Contact:hover {
    border: solid #4A9BD6;
    border-width: 1px;
    color: #4A9BD6;
    background-color: white;
    transform: scale(0.95);
}
