body {
    font-family: 'Open-sans', sans-serif;
}

.logo {
    width: 100%;
    display: flex;
    float: left;
}

#blueCar {
    margin-top: 9px;
    height: 74px;
}

#left {
    float: left;
    width: 406px;
}

#Middle {
    float: left;
    width: 406px;
    height: 121.25px;
}

#Right {
    float: left;
    width: 406px;
    height: 121.25px;
}

#separation {
    background-color: grey;
    width: 100%;
    height: 5px;
    border-radius: 10px;
}

#Moteur {
    margin-top: 51.09px;
    height: 19.10px;
}

#Kilometrage {
    margin-top: 16px;
    height: 19.10px;
}

#Prix {
    margin-top: 32px;
    margin-bottom: 16px;
    height: 38.19px;
}

#Contact {
    background-color: #4A9BD6;
    border: solid#4A9BD6;
    border-radius: 10px;
    width: 410px;
    height: 1cm;
    transition: 0.5s;
    color: white;
    font-weight: 500;
    border-width: 1px;
}

#Contact:hover {
    border: solid #4A9BD6;
    border-width: 1px;
    color: #4A9BD6;
    background-color: white;
    transform: scale(0.95);
}

@media only screen and (max-width: 1179px) {
    #left, #Middle, #Right {
        width: 812px;
        height: 242.5px;
        font-size: 40px;
    }

    #Moteur {
        margin-top: 102.18px;
        height: 38.2px;
    }

    #Kilometrage {
        margin-top: 32px;
        height: 38.2px;
    }

    #Prix {
        margin-top: 64px;
        margin-bottom: 32px;
        height: 80px;
    }

    #carDescription {
        font-size: 40px;
    }

    #Contact {
        width: 1165px;
        height: 75.58px;
        font-size: 40px;
        border-radius: 20px;
    }

    #title {
        font-size: 50px;
    }

    #blueCar {
        margin: 15px;
        width: 15%;
        height: 15%;
    }

    #comeback {
        width: 200.38px;
        height: 158.64px;
    }

    #title {
        margin-top: 42.5px;
        font-size: 55px;
    }
}