body {
    font-family: "Open sans", sans-serif;
}

#blueCar {
    margin-top: 9px;
    height: 74px;
}

.logo {
    display: flex;
}

.upperBar {
    display: flex;
    border: solid #4A9BD6;
    border-radius: 50px;
    justify-content: center;
    background-color: #4A9BD6;
    text-indent: 30px;
    color: white;
    font-weight: 600;
}

#Redirect {
    text-decoration: none;
    background-color: #4A9BD6;
    border: none #4A9BD6;
    text-decoration: none;
    color: white;
}

#carAnnonce {
    border: solid black;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: black;
    box-sizing: border-box;
    text-align: center;
}

#carAnnonce:hover {
    color: white;
    background-color: #4A9BD6;
}

#Distance {
    border: #4A9BD6;
    background-color: #4A9BD6;
    color: white;
    margin-top: 18.7px;
    font-size: medium;
}

#Color {
    border: #4A9BD6;
    background-color: #4A9BD6;
    color: white;
    margin-top: 18.7px;
    font-size: medium;
}

#Brand {
    border: #4A9BD6;
    background-color: #4A9BD6;
    color: white;
    margin-top: 18.7px;
    font-size: medium;
}

#SellCar {
    color: white;
}

#SellCar:link {
    text-decoration: underline;
    color: white;
}
