body {
    font-family: 'Open-sans', sans-serif;
}

.logo {
    display: flex; 
}

#blueCar {
    margin-top: 9px;
    height: 74px;
}

#carColor {
    border-radius: 5px;
    border: solid rgb(204, 204, 204);
    border-width: 2px;
    margin-bottom: 10px;
}

#carPrice {
    border-radius: 5px;
    border: solid rgb(204, 204, 204);
    border-width: 2px;
    margin-bottom: 10px;
}

#carModel {
    border-radius: 5px;
    border: solid rgb(204, 204, 204);
    border-width: 2px;
    margin-bottom: 10px;
}

#carDist {
    border-radius: 5px;
    border: solid rgb(204, 204, 204);
    border-width: 2px;
    margin-bottom: 10px;
}

#carDealerAd {
    border-radius: 5px;
    border: solid rgb(204, 204, 204);
    border-width: 2px;
    margin-bottom: 10px;
}

#carDescription {
    border-radius: 5px;
    border: solid rgb(204, 204, 204);
    border-width: 2px;
    margin-bottom: 10px;
}

#idCarEngType {
    border-radius: 5px;
    border: solid rgb(204, 204, 204);
    border-width: 2px;
    margin-bottom: 10px;
}

#idCarBrand {
    border-radius: 5px;
    border: solid rgb(204, 204, 204);
    border-width: 2px;
    margin-bottom: 10px;
}

#carImage {
    margin-bottom: 5px;
    border: solid rgb(204, 204, 204);
    text-decoration: none;
    border-radius: 10px;
    border-width: 2px;
}

.Left {
    float: left;
    width: 406px;
    height: 121.25px;
}

.Middle {
    float: left;
    width: 406px;
    height: 121.25px;
    margin-top: 2.7cm;
}

.Right {
    float: left;
    width: 406px;
    height: 121.25px;
    margin-top: 2.7cm;
}

.Bottom {
    width: 406px;
    height: 121.25px;
}

#submitButton {
    background-color: #4A9BD6;
    color: white;
    width: 260.99px;
    height: 1cm;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    border: solid #4A9BD6;
    border-width: 1.5px;
    float: left;
}

#submitButton:hover {
    color: #4A9BD6;
    background-color: white;
    transform: scale(0.95);
    border: solid#4A9BD6;
    border-width: 1.5px;
}

#separation {
    background-color: grey;
    width: 100%;
    height: 5px;
    border-radius: 10px; 
}

@media only screen and (max-width: 1179px) {
    .Left {
        font-size: 35px;
        width: 800px;
        height: 360px;
        margin-top: 30px;
    }

    .Middle {
        font-size: 35px;
        width: 800px;
        height: 200px;
        margin-top: 80px;
    }

    .Right {
        font-size: 35px;
        width: 800px;
        height: 240px;
        margin-top: 80px;
    }

    .Bottom {
        font-size: 35px;
        width: 800px;
        height: 200px;
    }

    #carColor,#carPrice,#carModel,#carDist,#carDealerAd,#carDescription,#idCarEngType,#idCarBrand,#carImage {
        width: 1163px;
        height: 40px;
        font-size: 35px;
        border: solid black;
        border-radius: 10px;
        border-width: 2px;
    }

    #submitButton {
        width: 1163px;
        height: 70px;
        font-size: 40px;
        border-radius: 20px;
    }

    .logo {
        font-size: 30px;
    }

    #blueCar {
        margin: 15px;
        width: 15%;
        height: 15%;
    }

    #comeback {
        width: 200.38px;
    }
}